.virtual-list {
  position: relative;
  overflow: hidden;

  &--empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__empty {
    color: #999;
    font-size: 14px;
    text-align: center;
  }

  &__phantom {
    position: relative;
    width: 100%;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    will-change: transform;
  }

  &__item {
    width: 100%;
    overflow: hidden;
  }
}
